$white: #fff;
$dark-white: #d1d1d1;
$light-white: #eeebeb;
$light-gray: #cfcfcf;
$dark-blue: #6367a0;
$navy: #1b2a41;

$dark-white-2: #fdfdfd;
$dark-white-3: #f6f6f6;
$light-gray-2: #f4f4f4;
$light-gray-3:#dedede;

$red: #f00;
$yellow: #FFC107;
$orange: #ff8a00;
$dark-gray: #2b2b2b;
$lighter-gray: #3d3d3d;
$purple: #663399;
$black: #000;
