$white: #fff;
$dark-white: #d1d1d1;
$light-white: #eeebeb;
$light-gray: #cfcfcf;
$dark-blue: #6367a0;
$navy: #1b2a41;

$red: #f00;
$yellow: #FFC107;
$orange: #ff8a00;
$dark-gray: #2b2b2b;
$lighter-gray: #3d3d3d;
$black: #000;
