.woocommerce-account{
  background: $light-gray-2;
  h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .woocommerce{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include breakpoint(md) {
      flex-direction: column;
    }
    .woocommerce-Button.button {
      display: block;
    }
    .woocommerce-Address-title{
      &.title{
        font-size: 20px;
        line-height: 1;
        margin-bottom: 20px;
        font-weight: 400;
      }
      a{
        font-size: 16px;
      }
    }
    .woocommerce-MyAccount-navigation{
      width: calc(30% - 50px);
      @include breakpoint(md) {
        width: 100%;
      }
      ul{
        background: $white;
        li{
           background: $white;
           transition: $transition;
           padding: 15px 20px;
           cursor: pointer;
          a{
            color: $dark-gray;
            width: 100%;
            display: block;
            outline: none;
          }
          &:hover{
            a{
              text-decoration: underline;
            }
          }
          &.is-active {
            background: $orange;

            a {
              color: $white;
            }
          }
        }
      }
    }
    .woocommerce-MyAccount-content{
      width: 70%;
      border-left: 3px solid $orange;
      background: $white;
      padding: 30px;
      @include breakpoint(md) {
        width: 100%;
        margin: 20px 0;
      }
      p{
        padding: 10px 0;
      }
      a{
        color: $dark-blue;
        &:hover{
          color: $orange;
        }
      }
      .woocommerce-message,
      .woocommerce-Message {
        background: none;
        border:none;
        padding: 0;
      }
      form {
        width: 100%;
        margin: 0 auto;
        border: none;
        padding: 0;

        p {
          padding: 0;
        }

        fieldset {
          flex-direction: column;
        }
      }
    }
    .woocommerce-Addresses{
      display: flex;
      justify-content: space-between;
      @include breakpoint(sm) {
        flex-direction: column;
      }
      .woocommerce-Address {
        width: calc(100% / 2 - 20px);
        @include breakpoint(sm) {
          width: 100%;
          margin: 20px 0;
        }
      }
    }
  }
  .login-wrap {
    width: calc(100% / 2 - 20px);

    @include breakpoint(md) {
      width: 100%;
    }
  }

  .woocommerce-columns{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    @include breakpoint(sm) {
      flex-direction: column;
    }
    .woocommerce-column__title {
      padding-bottom: 10px;
    }
  }
}