.woocommerce-cart{
  .shipping-calculator-form{
    .nice-select {
      width: 100%;
      border-radius: 0;
      margin: 0 0 20px;
      border: 1px solid #cfcfcf;
      height: 50px;
      line-height: 50px;
    }
  }
  .woocommerce-shipping-methods {
    input {
      margin-right: 10px;
      width: 30px !important;
      height: auto !important;
    }
  }
  .shop_table{
    flex-direction: column;
    thead{
      width: 100%;
    }
    .product-name{
      width: 100%;
    }
  }
  .woocommerce-shipping-calculator {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    .shipping-calculator-button{
      color: $orange;
      &:hover{
        opacity: 0.5;
      }
    }
  }
  .cart-wrap{
    display: flex;
    justify-content: space-between;
    @include breakpoint(lg) {
      flex-direction: column;
    }
  }
  .woocommerce-cart-form{
    width: calc(70% - 40px);
    @include breakpoint(lg) {
      width: 100%;
    }
  }
  .cart-collaterals{
    width: calc(30% - 40px);
    @include breakpoint(lg) {
      width: 100%;
      padding: 20px;
      margin: 10px auto;
      @include breakpoint(md) {
        margin: 10px 0;
        padding: 10px;
      }
    }
    h2{
      @include breakpoint(md) {
       margin: 10px 0
      }
    }
  }
  .wc-proceed-to-checkout {
    @extend .btn,
    .orange;
    margin: 20px 0;
    max-width: 100% !important;
    width: 100% !important;
    a{
      @include breakpoint(sm) {
        font-size: 16px !important;
      }
    }
  }
  .cart-wrap{
    margin: 20px 0;
  }
  .cupon-wrap {
    display: flex;
    align-items: flex-end;
    width: 100%;
    @include breakpoint(sm) {
      flex-direction: column;
    }
    .coupon {
      width: 100%;
      display: flex;
      align-items: flex-end;
      @include breakpoint(sm) {
        flex-direction: column;
      }
      > .wrap{
        width: 100%;
      }
    }
    >.wrap{
      @include breakpoint(sm) {
        width: 100%;
      }
    }
    button{
      background: $light-gray-3;
      flex-shrink: 0;
      font-size: 14px;
      margin-left: 10px;
      width: 175px;
      @include breakpoint(sm) {
        width: 100%;
        margin: 10px 0;
      }
      &:hover{
        color: $navy;
      }
    }
  }
  .product-thumbnail{
    &:before{
      display: none;
    }
  }
}

.woocommerce-checkout{
  .woocommerce-order {
    p{
      text-align: center;
    }
    ul{
      text-align: center;
      margin: 10px 0;
      li{
        font-weight: bold;
        padding: 5px 0;
      }
      strong{
        font-weight: normal;
      }
    }
    .woocommerce-notice {
      @extend .title,
      .title-2;
      text-align: center;
    }
  }

  .woocommerce-order-details {
    margin: 20px 0;

    .woocommerce-order-details__title {
      margin-bottom: 20px;
    }
  }
  .form-row {
    padding: 10px 0;
  }
  .woocommerce-checkout-payment{
    button{
      margin-top: 20px;
    }
  }
  #ship-to-different-address{
    label{
      display: flex;
      align-items: center;
    }
  }
  .woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .checkout.woocommerce-checkout{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    border: none;
    padding: 20px 0;
    @include breakpoint(sm) {
     flex-direction: column;
    }
    > *{
      width: calc(100% / 2 - 40px);
      @include breakpoint(md) {
       width: calc(100% / 2 - 20px);
      }
      @include breakpoint(sm) {
         width: 100%;
      }
    }
  }
}

.site-header-cart {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 110px;
    top: 0;
    left: 0;
    z-index: 1;
  }
  &:hover{
    .widget_shopping_cart{
      opacity: 1;
      pointer-events: all;
    }
  }

  .cart {
    z-index: 2;
    position: relative;
  }

  .widget_shopping_cart {
    width: 230px;
    background: $dark-gray;
    position: absolute;
    opacity: 0;
    margin: 0;
    pointer-events: none;

    .widget_shopping_cart_content {
      background: $dark-gray;
      * {
        color: $white;
      }
    }
    li{
      display: flex;
      flex-direction: row;
      margin: 10px 0;
    }
    a{
      &.remove {
        font-size:18px;
        margin-left: 10px;
      }
      &:nth-child(2){
        font-size: 12px;
      }
    }

    img {
      max-width: 50px;
      margin: 0 10px;
    }
    .item{
      display: flex;
      align-items: center;
      .item-wrap {
        font-size: 12px;
      }
    }

    .wrap{
      display: flex;
      align-items: center;
      border-top: 1px solid $lighter-gray;
      justify-content: space-between;
      padding-top: 10px;
    }
    .woocommerce-mini-cart__total.total {
      font-size: 12px;
      opacity: 0.5;
      .woocommerce-Price-amount.amount {
        font-weight: bold;
        opacity: 1;
      }
    }

    .woocommerce-mini-cart__buttons {
      @extend .btn,
      .btn-2,
      .orange;
      padding: 5px 10px !important;
      margin: 5px 0 !important;
      a{
        padding: 0;
        margin: 0;
        font-size: 14px;
      }
    }
  }
}

.cart_item{
  .product-remove{
     @include breakpoint(md) {
       display: none !important;
     }
  }
  .product-thumbnail{
     @include breakpoint(md) {
      display: flex !important;
      align-items: center;
      justify-content: space-between;
     }
    .mobile-remove{
      display: none;
      a{
        font-size: 30px;
      }
       @include breakpoint(md) {
         display: block;
       }
    }
  }
}

.woocommerce-checkout-payment{
  .payment_methods{
    padding: 10px 17px;
    li {
      display: flex;
      flex-wrap: wrap;
      .payment_box{
        width: 100%;
        padding: 0 0 10px;
        margin-left: 35px;
      }
      label{
        padding: 0;
      }
    }
  }
}

.woocommerce-shipping-methods{
  li {
    display: flex;
  }
  input{
    width: 15px !important;
    height: 15px !important; 
    margin-top: 5px;
  }
}

.nice-select{
  .list{
    max-height: 300px;
    overflow-y: auto;
  }
}
.create-account{
  > label{
    display: flex;
  }
}