.woocommerce{
  .button{
    padding: 10px 25px !important;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    position: relative;
    z-index: 2;
    color: $black !important;
    font-weight: 400 !important;
    background: none !important;
    @media(max-width: 768px){
      font-size: 12px;
    }
    &:hover{
      color: $yellow !important;
      background: none !important;
    }
  }
  .wc-proceed-to-checkout{
    .button{
      padding: 10px 25px !important;
      text-transform: uppercase;
      font-family: Montserrat,sans-serif;
      position: relative;
      z-index: 2;
      color: $black !important;
      font-weight: 400;
      width: 240px;
      background: none !important;
      margin: 10px auto;
      &:after{
        @include pseudo();
        width: 48px;
        height: 48px;
        background: $yellow;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 100%;
        z-index: -1;
        transition: $transition;
      }
      @media(max-width: 768px){
        font-size: 12px;
      }
      &:hover{
        color: $yellow !important;
        background: none !important;
        &:after{
          left: 90%;
          top: 50%;
          transform: scale(0.5) translateY(-100%);
          opacity: 1;
        }
      }
    }
  }
  main {
    margin-top: 0 !important;
  }
  .woocommerce-ordering {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    label{
      @media(max-width: 750px){
        display: none;
      }
    }
    .nice-select{
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $yellow;
      padding-left: 0;
      padding-right: 0;
      margin-left: 10px;
      margin-right: 25px;
      height: auto;
      line-height: 20px;
      z-index: 3;
      @media(max-width: 750px){
        width: 100%;
        border: none;
      }
      &:after{
        right: -12px;
        border-bottom: 2px solid $yellow;
        border-right: 2px solid $yellow;
        height: 4px;
        width: 4px;
      }
      .list{
        width: fit-content;
        max-width: 210px;
        display: flex;
        flex-direction: column;
        li{
          white-space: break-spaces;
          line-height: 20px;
          min-height: auto;
          margin: 5px 0;
          font-size: 12px;
        }
      }
    }
  }
  .woocommerce-breadcrumb{
    text-transform: uppercase;
    position: relative;
    font-weight: 500;
    color: $yellow;
    a{
      color: #4C413B;
    }
  }
  .w-catalog{
    .archive-filter{
      @media(max-width: 991px){
        flex-direction: row;
      }
      @media(max-width: 700px){
        flex-direction: column;
        align-items: flex-start;
      }
      &.mobile{
        display: none;
        @media(max-width: 700px){
          display: block;
        }
      }
      &.desktop{
        @media(max-width: 700px){
          display: none;
        }
      }
    }
    .archive-search {
      @media(max-width: 991px){
        width: 300px;
      }
      @media(max-width: 700px){
        width: 100%;
        margin: 20px 0;
        display: none;
      }
    }
    .top-block{
      > .container img, > .w-catalog-menu{
        @include breakpoint(md) {
          display: none;
        }
      }
      > .container{
        @include breakpoint(md) {
          padding: 15px 0;
        }
      }
    }
  }
  .widget_layered_nav{
    h2{
      cursor: pointer;
      position: relative;
      margin-bottom: 20px;
      padding: 0 !important;
      padding-right: 15px !important;
      transition: $transition;
      width: 100%;
      &:before{
        @include pseudo();
        width: 8px;
        height: 1px;
        background: $black;
        right: 0;
        top: 12px;
        transition: $transition;
      }
      &:after{
        @include pseudo();
        width: 0.5px;
        height: 8px;
        background: $black;
        right: 3px;
        top: 8px;
        transition: $transition;
      }
      &.active{
        color: $yellow;
        &:before{
          background: $yellow;
        }
        &:after{
          display: none;
        }
        + ul{
          max-height: 1000px;
          transition: 2s;
        }
      }
      + ul{
        max-height: 0;
        transition: 1s;
        overflow: hidden;
        margin-bottom: 20px;
        position: relative;
        &:after{
          content: '';
          width: 100%;
          height: 1px;
          background: $black;
          top: 0;
          left: 0;
          position: absolute;
          display: block;
          z-index: 2;
        }
        &:before{
          content: '';
          width: 100%;
          height: 0.5px;
          background: $black;
          bottom: 0;
          left: 0;
          position: absolute;
          display: block;
          z-index: 2;
        }
      }
    }
  }
  .product .onsale{
    z-index: 1;
  }
  .products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li{
      .wrap-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        > .star-rating{
          display: none;
        }
        > .price{
          padding: 0;
          top: -6px;
          position: relative;
          z-index: 2;
          width: fit-content;
          @include breakpoint(sm) {
            flex-direction: column;
          }
          > *{
            margin: 0 6px;
          }
        }
        .btn {
          z-index: 2;
          max-width: 145px;
          padding: 0;
          margin-left: auto;
          right: 10px;
          i {
            color: $white;
          }
          &:after {
            width: 40px;
            height: 40px;
            top: 50%;
            z-index: -1;
            left: 50%;
            transform: translate(-48%, -49%);
          }
          &:hover {
            &:after {
              transform: translate(-48%, -49%) scale(1);
              opacity: 0.7;
              background: $black;
            }
          }
        }
      }
    }
    &.double{
      @include breakpoint(md) {
        pointer-events: all;
      }
      li {
        @include breakpoint(md) {
          width: calc(100% / 2 - 20px) !important;
          margin: 10px auto 30px !important;
        }
        a{
          height: auto;
        }
        .woocommerce-loop-product__title {
          @include breakpoint(sm) {
            font-size: 14px!important;
          }
        }
        .wrap {
          @include breakpoint(sm) {
            padding: 10px 10px 10px;
          }
        }
        .price{
           bdi {
             @include breakpoint(sm) {
               font-size: 21px;
             }
          }
        }
      }
    }
    &.single{
      li{
        @include breakpoint(md) {
          display: flex;
          align-items: center;
        }
        a{
          @include breakpoint(md) {
            display: flex;
          }
          img{
            @include breakpoint(md) {
              object-fit: contain;
            }
          }
        }
        .price bdi{
          font-size: 20px;
        }
      }
    }
  }
  .w-catalog-menu {
    margin: 70px 0 0;
    position: relative;
    @media(max-width: 600px){
      margin: 10px 0 0;
    }
    ul{
      position:relative;
      padding-bottom: 20px;
      @media(max-width: 1200px){
        flex-direction: row;
        padding-bottom: 7px;
      }
      @media(max-width: 991px){
        flex-wrap: wrap;
        justify-content: space-evenly;
      }
      &:after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-bottom: 1px solid $yellow;
      }
      li {
        position: relative;
        width: 100%;
        text-align: center;
        margin: 0;
        @media(max-width: 1200px){
         border-bottom: none;
        }
        @media(max-width: 991px){
          width: fit-content;
        }
        &:after{
          @include pseudo();
          width: 0;
          height: 3px;
          transition: $transition;
          background: transparent;
          bottom: -20px;
          left: 0;
          box-shadow: none;
          z-index: 3;
          background: $yellow;
          @media(max-width: 991px){
            display: none;
          }
        }
        &.current-menu-item{
          a{
            color: $yellow;
            font-weight: 900;
          }
          &:after{
            width: 100%;
          }
        }
      }
    }
  }
  .product{
    position: relative;
    margin-bottom: 20px;
    box-shadow: 0px 4px 43px rgba(0, 0, 0, 0.06);
    background: $white;
    @media(max-width: 1200px){
      width: calc(100% / 2 - 40px) !important;
    }
    @media(max-width: 990px){
      width: calc(100% - 20px) !important;
      margin: 10px auto 30px !important;
    }
    @media(max-width: 890px){
      width: calc(100% / 2 - 40px) !important;
    }
    @include breakpoint(md) {
      width: calc(100% - 20px) !important;
      margin: 10px auto 30px !important;
    }
    &:before{
      @include pseudo();
      width: 100%;
      height: 100%;
      border: 1px solid $yellow;
      top: 10px;
      left: -10px;
      z-index: -1;
      transition: $transition;
    }
    .w-img{
      width: 100%;
      height: 250px;
      display: block;
      overflow: hidden;
      &:hover{
        img{
          transform: scale(1.1);
          filter: grayscale(1);
        }
      }
    }
    img{
      margin: 0 auto;
      width: 100%;
      transition: $transition;
    }
    .popup{
      display: none;
    }
    .subtitle{
      font-size: 16px;
    }
    .wrap{
      padding: 20px 20px 10px;
      box-sizing: border-box;
    }
    .rating{
      position: relative;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      > .price{
        display: none !important;
      }
      .star-rating{
        margin: 5px 0 0;
        margin-right: 10px;
      }
    }
    .price{
      padding-top: 5px;
      display: flex !important;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0 !important;
      bdi{
        font-family: 'Playfair Display', serif;
        font-size: 25px;
        font-weight: 900;
      }
      >span:only-child{
        margin-left: auto;
        bdi{
          color: red;
        }
      }
      >span:last-child{
        bdi{
          color: $yellow;
        }
      }
    }
    .code {
      color: #9e9d9e;
    }
    .widget-title{
      font-family: 'Playfair Display', serif;
      font-size: 18px;
      font-weight: 900;
      color: $black;
    }
  }
  .woocommerce-widget-layered-nav-list{
    li{
      margin: 10px 0;
      a{
        color: $black;
        font-size: 14px;
        &:hover{
          color: $yellow;
        }
      }
    }
  }
  .widget_price_filter{
    margin-bottom: 20px;
     .ui-slider-horizontal {
       height: 1px;
     }
     .ui-slider .ui-slider-range{
       background: $black;
     }
     .ui-slider .ui-slider-handle{
       background: $yellow;
       top: -7px;
       cursor: pointer;
     }
  }
  .price_slider_wrapper {
    display: flex;
    flex-direction: column;
    .price_slider{
      order: 2;
    }
    .price_slider_amount{
      order: 1;
      display: flex;
      flex-wrap: wrap;
      button{
        padding: 0 !important;
        margin: 10px 0;
      }
    }
    .price_label {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      margin-bottom: 10px;
      .from{
        margin-left: auto;
      }
      span{
        padding: 0 10px;
        &:last-child{
          padding-right: 0;
        }
      }
    }
  }
  .w-wrap {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    @media(max-width: 900px){
      flex-direction: column;
    }
    .w-sidebar{
      width: 300px;
      padding-right: 50px;
      box-sizing: border-box;
      @media(max-width: 900px){
        width: 100%;
        padding-right: 0;
      }
      h3, h2.widget-title{
        @extend .title;
        font-size: 20px;
        padding-bottom: 40px;
        color: $black;
        text-transform: uppercase;
      }
      > h3{
        position: relative;
        pointer-events: none;
        @include breakpoint(md) {
          pointer-events: all;
        }
        &:after{
          content: "+";
          display: none;
          position: absolute;
          right: 0;
          top: -3px;
          font-size: 30px;
          @include breakpoint(md) {
            display: block;
          }
        }
        &.active{
          &:after{
            content: "-";
          }
          + .widget-area{
            max-height: 600px;
          }
        }
      }
      h2.widget-title{
        font-size: 16px;
        padding-bottom: 20px;
      }
      .widget-area{
        transition: $transition;
        @include breakpoint(md) {
          max-height: 0;
          overflow: hidden;
        }
      }
    }
    .w-content{
      width: calc(100% - 350px);
      @media(max-width: 900px){
        width: 100%;
      }
    }
  }
  .woocommerce-info{
    margin: 20px 0;
    border-top-color: $yellow;
    &:before{
      color: $yellow;
    }
  }
  .woocommerce-loop-product__title{
    @extend .title;
    color: $black;
    font-size: 18px !important;
  }
  .woocommerce-pagination{
    .page-numbers{
      @include justify;
      justify-content: center;
      padding: 20px 0;
      max-width: $column * 9;
      margin: 0 auto;
      position: relative;
      border: none;
      flex-wrap: wrap;
      flex-direction: row;
      @include breakpoint(sm) {
        justify-content: center;
      }
      .screen-reader-text {
        display: none;
      }
      .next{
        right: 5px;
      }
      .prev{
        left: 5px;
      }
      .next, .prev{
        text-transform: uppercase;
        color: $black;
        position: absolute;
        @include breakpoint(md) {
         position: relative;
        }
        &:hover{
          color: $yellow;
        }
      }
      li{
        background: none;
        border: none;
      }
      a{
        padding: 2px 10px;
        color: $black;
        background: none;
        border: none;
        span{
          background: none;
        }

        &:hover{
          color: $yellow;
          background: none;
          border: none;
        }
      }
      .current{
        color: $yellow;
        text-decoration: underline;
        font-size: 16px;
        background: none;
      }
    }
  }
}

.main{
  margin-top: 120px;
  @include breakpoint(xl) {
    margin-top: 80px;
  }
}

.w-sidebar{
  .button{
    border: 1px solid #E09D47 !important;
    margin: 10px auto !important;
    display: block !important;
  }
}
.woocommerce-loop-product__title{
  transition: $transition;
  &:hover{
    opacity: 0.5;
  }
}
.sizes-filter{
  display: flex;
  @media(max-width: 1250px){
    flex-wrap: wrap;
  }
  > *{
    width: calc(100% / 4);
    overflow: hidden;
    @media(max-width: 1250px){
      width: calc(100% / 3 - 20px);
    }
    @media(max-width: 900px){
      width: calc(100% / 4 - 20px);
    }
    @media(max-width: 768px){
      width: calc(100% / 3 - 20px);
    }
    &:not(a:nth-child(-n+3)){
      @media(max-width: 768px){
        display: none;
      }
    }
    &:hover{
      img{
        opacity: 0.8;
      }
    }
    &:not(:last-child){
      margin-right: 20px;
    }
    .title{
      transition: $transition;
      font-size: 12px;
      font-weight: 300;
      color: $black;
    }
    img{
      transition: $transition;
      max-width: 100%;
      height: auto;
      @include breakpoint(sm) {
        margin: 0 auto;
      }
    }
  }
  &.active{
    > *{
      &:not(a:nth-child(-n+3)){
        @media(max-width: 768px){
          display: block;
        }
      }
    }
  }
}
.sizes-show-more{
  display: none;
  justify-content: center;
  align-items: center;
  padding: 10px 0 30px;
  width: 100%;
  position: relative;
  z-index: 2;
  pointer-events: none;
  @media(max-width: 768px){
    display: flex;
    pointer-events: all;
  }
  &:focus{
    color: $yellow;
  }
}

.woocommerce ul.products li.product a img{
  margin: 0 auto;
}

.list-structure{
  @media(min-width: 768px){
    display: none !important;
  }
  @include breakpoint(md) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  span{
    margin: 10px 20px;
    i{
      font-size: 25px;
      color: $light-gray;
    }
    &.active{
      i{
        color: $yellow;
      }
    }
  }
}