form{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  fieldset {
    display: flex;
    justify-content: space-between;
    @include breakpoint(sm) {
      flex-direction: column;
    }
    > *{
      margin-right: 10px;
      width: 100%;
      &:last-child{
        margin-right: 0;
      }
      @include breakpoint(sm) {
        margin-bottom: 10px;
      }
    }

  }
  legend {
    font-size: 20px;
    font-weight: bold;
  }
  label{
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: left;
  }
  input, textarea{
    transition: $transition;
    border: 1px solid $light-gray;
    outline: none;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    transition: $transition;
    background: $white;
    display: block;
    color: $black;
    margin-right: 20px;
    box-sizing: border-box;
    &:focus{
      border: 1px solid $orange;
    }
    &[type="checkbox"]{
      width: 20px;
      height: 20px;
    }
    &[type="number"] {
      width: 50px;
      @include breakpoint(md) {
        width: 100%;
      }
    }
    &[type="submit"] {
      padding: 0;
      margin-right: 0;
    }
  }
  textarea{
    height: 100px;
    margin: 10px 0;
    padding-top: 10px;
    @include breakpoint(sm) {
      margin-top: 0;
    }
  }
  button,
  .wpcf7-submit {
    outline: none;
    border: none;
    @include justify;
    justify-content: center;
    width: 200px;
    height: 50px;
    transition: $transition;
    background: $orange;
    color: $white;
    font-weight: 600;
    font-size: 19px;
    line-height: 14px;
    text-transform: uppercase;
    margin-left: auto;
    @include breakpoint(md) {
      font-size: 16px;
    }
    @include breakpoint(sm) {
      font-size: 14px;
    }
    &:hover{
      background: $black;
    }
  }
  &.search-form{
    input{
      background: $lighter-gray;
      margin-right: 0;
    }
    button{
      background: transparent;
      position: absolute;
      right: 30px;
      z-index: 2;
      width: 40px;
      height: 50px;
      @include breakpoint(sm) {
        right: 25px;
      }
    }
  }
}

.subscribtion-form {
  flex-direction: row;
  width: 70%;
  @include breakpoint(md) {
     width: 100%;
  }
  form{
    flex-direction: row;
     @include breakpoint(md) {
       flex-wrap: wrap;
     }
    .subscribe-email {
      width: 100%;
    }
    .wpcf7-spinner {
      display: none;
    }
    .wpcf7-submit{
      @include breakpoint(md) {
        margin-top: 10px;
      }
    }
    .wpcf7-response-output {
      position: absolute;
      top: 21px;
      right: -8px;
      color: $white;
       @include breakpoint(md) {
        position: relative;
        top: 0;
        right: 0;
       }
    }
  }
}