.header{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10000;
  &.fixed_header{
    background: rgba(42, 37, 96, 0.70);
    backdrop-filter: blur(20px);
  }
  &.opened{
    .container{
      > ul{
        opacity: 1;
        pointer-events: all;
      }
    }
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    > ul{
      transition: $transition;
      display: flex;
      align-items: center;
      margin: 0 20px;
      @media(max-width: 1024px){
        position: absolute;
        flex-direction: column;
        opacity: 0;
        pointer-events: none;
        top: 70px;
        background: $dark-gray;
        width: 100%;
        left: 0;
        margin: 0;
        height: auto;
        align-items: flex-start;
        padding-left: 10px;
      }
      @include breakpoint(sm) {
        top:50px;
      }
      >li{
        position: relative;
        transition: $transition;
        @media(max-width: 1024px){
          width: calc(100% - 10px);
        }
        &.pre_order{
          a{
            color: $red !important;
          }
        }
        &:not(:last-child){
          @media(max-width: 1024px){
            border-bottom: 1px solid $lighter-gray;
          }
        }
        &:hover{
          text-decoration: underline;
          > a{
            color: $orange;
          }
          ul{
            opacity: 1;
            transform: translateY(0);
            pointer-events: all;
          }
        }
        &.menu-item-has-children{
          > a{
            position: relative;
            margin-right: 10px;
            &:after{
              border-bottom: 2px solid $white;
              border-right: 2px solid $white;
              content: '';
              display: block;
              height: 3px;
              margin-top: -3px;
              pointer-events: none;
              position: absolute;
              right: 0;
              top: 50%;
              transform-origin: 66% 66%;
              transform: rotate(45deg);
              transition: all 0.15s ease-in-out;
              width: 3px;
            }
          }
          &:hover{
            background: $white;
            text-decoration: none;
            > a{
              color: $navy;
              &:after{
                border-bottom: 2px solid $navy;
                border-right: 2px solid $navy;
                transform: rotate(-135deg);
              }
            }
          }
        }
        a{
          font-weight: 500;
          font-size: 18px;
          line-height:20px;
          letter-spacing: -0.3px;
          text-transform: uppercase;
          display: block;
          padding:10px;
          color: $white;
          outline: none;
          @include breakpoint(xxl) {
            font-size: 16px;
          }
          @include breakpoint(xl) {
            font-size: 14px;
          }
        }
        > ul{
          transition: $transition;
          position: absolute;
          background: $white;
          min-width: 200px;
          left: 0;
          opacity: 0;
          transform: translateY(20px);
          pointer-events: none;
          @media(max-width: 1024px){
            position: relative;
            display: none;
          }
          &.active{
            @media(max-width: 1024px){
              display: block;
            }
          }
          > li{
            position: relative;
            &:hover{
              background: $orange;
              a{
                color: $white;
              }
            }
            a{
              color: $dark-blue;
              display: block;
              padding: 10px;
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}

.logo{
  display: block;
  max-width: 135px;
  @include breakpoint(xxl) {
    max-width: 100px;
  }
  @include breakpoint(xl) {
    max-width: 80px;
  }
  @include breakpoint(sm) {
    max-width: 50px;
  }
}

.shop-data{
  display: flex;
  align-items: center;
  position: relative;
  i{
    color: $white;
    padding: 0 10px;
    cursor: pointer;
    position: relative;
    display: block;
    font-size: 16px;
    min-width: 35px;
    &:hover{
      color: $orange;
    }
  }
  .search-block{
    position: relative;
    @include breakpoint(sm) {
      position: unset;
    }
    .fa-times{
      display: none;
    }
    .search-form {
      transition: $transition;
      position: absolute;
      right: 0;
      top: 30px;
      min-width: 350px;
      opacity: 0;
      pointer-events: none;
      background: $dark-gray;
      padding: 30px;
      box-sizing: border-box;
      transform: translateY(20px);
      @include breakpoint(sm) {
        min-width: 300px;
        padding: 20px;
      }
      &:after{
        content: '';
        width: 0;
        height: 0;
        right: 9px;
        top: -8px;
        border-style: solid;
        position: absolute;
        border-width: 0 40px 40px 40px;
        border-color: transparent transparent $dark-gray transparent;
        border-width: 0 10px 10px;
        @include breakpoint(sm) {
         display: none;
        }
      }
    }
    &.opened{
      .search-form {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0);
      }
      >.fa-search{
        display: none;
      }
      .fa-times{
        display: block;
      }
    }
  }
  .menu{
    display: none;
    @media(max-width: 1024px){
      display: block;
    }
    i{
      &.fa-bars{
        display: block;
      }
      &.fa-times{
        display: none;
      }
    }
    &.opened{
      i{
        &.fa-bars{
          display: none;
        }
        &.fa-times{
          display: block;
        }
      }
    }
  }
}