.faq-page{
    padding-bottom: 50px;
    .faq-block{
        padding: 50px 0;
        @include breakpoint(md) {
            padding: 20px 0;
        }
        li{
            margin: 20px 0;
            .faq-title{
                border: 1px solid $light-gray;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 20px 20px;
                font-size: 20px;
                font-weight: 500;
                cursor: pointer;
            }
            .faq-content{
                transition: $transition;
                padding: 0 20px;
                border: 1px solid transparent;
                border-top: 0;
                max-height: 0;
                overflow-y: auto;
                overflow: hidden;
                opacity: 0;
            }
            .faq-btn{
                margin-left: 20px;
                i{
                    cursor: pointer;
                    color: $navy;
                    font-size: 25px;
                    &.fa-minus{
                        display: none;
                    }
                }
            }
            &.opened{
                .faq-content{
                    padding: 20px 20px;
                    border: 1px solid $light-gray;
                    border-top: 0;
                    max-height: 800px;
                    opacity: 1;
                }
                .faq-btn{
                    i{
                        color: $orange;
                        &.fa-minus{
                            display: block;
                        }
                        &.fa-plus{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .btn-subtitle{
        font-size: 35px;
        text-align: center;
        margin-bottom: 10px;
    }
    .btn{
        margin: 0 auto;
        max-width: fit-content;
    }
}